<br><br>
<div style="width:900px;margin:0 auto;">
	<div class="pull-right">
		<h1><span class="label label-info">Progress: {{vm.gameNo + 1}} / {{vm.games.length}}</span></h1>
	</div>

  <div ng-if="!vm.endGame" class="pull-right">
    <h1><span class="label label-info">Score: {{vm.correctNo}}</span></h1>
  </div>

</div>

<div ng-if="vm.shouldDisplayAnswer" class="text-center">
	<br><br><br><br><br><br><br><br><br>

  <div ng-if="!vm.endGame">
    <h2>Your choice was:</h2>

    <div ng-if="vm.displayedAnswer == 'INCORRECT'">
      <h2 style="color:red;font-size:50px;">{{vm.displayedAnswer}}</h2>
    </div>
    <div ng-if="vm.displayedAnswer == 'CORRECT'">
      <h2 style="color:green;font-size:50px;">{{vm.displayedAnswer}}</h2>
    </div>

    <h2>Click the button below to proceed to the next question.</h2><br><br>
    <button ng-click="vm.nextGame()" ng-if="!vm.isDemo" class="btn btn-primary">Next Game</button>
  </div>

	<div ng-if="vm.endGame">
		Congratulations, you made {{vm.correctNo}}/{{vm.games.length}} bets correctly! Thank you for your participation!
	</div>
</div>

<br><br><br>
<div id="container" style="width:900px; height: 649px; margin:0 auto;" ng-if="!vm.shouldDisplayAnswer" >
	<div ng-mousemove="vm.handleMouseMove($event)" style="width:900px; height: 649px;">
		<div class="text-center" style="display: table-row" id="tableHead">
			<div style="width:205px; display: table-cell;"></div>
			<div style="width:285px; display: table-cell;">Car A</div>
			<div style="width:100px; display: table-cell;"></div>
			<div style="width:285px; display: table-cell;">Car B</div>
		</div>
		<div class="text-center" style="display: table-row" id="tableCol" ng-repeat="attribute_name in vm.Car.attribute_name()">
			<div class="text-left" style="width:205px; display: table-cell;">{{::attribute_name}}</div>
			<div style="width:285px; display: table-cell;">
				<div class="cover_block_container" style="padding-top: 20px;" ng-click="vm.onMouseOver(attribute_name, vm.carA, $index)"
					 ng-mouseleave="vm.onMouseLeave(attribute_name, vm.carA, $index)">
					<div ng-if="!vm.carA.shouldShowValue(attribute_name)" class="cover_block" ng-attr-id="{{'carA-block-' + $index}}"></div>
					<div ng-if="vm.carA.shouldShowValue(attribute_name)" ng-attr-id="{{'carA-value-' + $index}}">
						{{::vm.carA.getAttribute(attribute_name)}}
					</div>
				</div>
			</div>
			<div style="width:100px; display: table-cell;">{{::vm.compare[$index]}}</div>
			<div style="width:285px; display: table-cell;">
				<div class="cover_block_container" style="padding-top: 20px;" ng-click="vm.onMouseOver(attribute_name, vm.carB, $index)"
					 ng-mouseleave="vm.onMouseLeave(attribute_name, vm.carB)">
					<div ng-if="!vm.carB.shouldShowValue(attribute_name)" class="cover_block" ng-attr-id="{{'carB-block-' + $index}}"></div>
					<div ng-if="vm.carB.shouldShowValue(attribute_name)" ng-attr-id="{{'carB-value-' + $index}}">
						{{::vm.carB.getAttribute(attribute_name)}}
					</div>
				</div>
			</div>
		</div>
		<br><br><br><br>
		<div class="row text-center">
			<div class="col-md-2"></div>
			<div class="col-md-5"><button ng-click="vm.selectCar('A')" class="btn btn-primary">Choose A</button></div>
			<div class="col-md-5"><button ng-click="vm.selectCar('B')" class="btn btn-primary">Choose B</button></div>
		</div>
	</div>
</div>
