<div class="text-center" style="width:900px;margin:0 auto;">
  <div class="bs-callout bs-callout-success">
    <h1> You are going to purchase a used car and given 5 pieces of information: the cars' year, mileage, the number of previous owners, the number of reviews, and number of accidents.
      You want to buy the most durable car among the two options given to you. The information will be covered by boxes, please click the boxes open to check out the value. Your goal is to make as many correct decisions as possible.
      You will make 120 decisions, and will be given feedback for each trial and the number of correct decisions you have made in the end.</h1>
    <br> <a class="btn btn-primary" ng-click="vm.next()">Next</a>
  </div>
</div>
